/* File: /frontend/src/components/StoryTree.css */

.story-tree-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.combined-header {
  display: flex;
  align-items: center;
  position: sticky;
  flex-direction: row;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.app-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 20px;
  margin-right: 20px;
  height: 80px;
  background-color: #fff;
  z-index: 1001;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
}

.story-header {
  padding: 5px 20px;

  position: sticky;
  background-color: #fff;
  z-index: 999;
}

.story-header h1 {
  font-size: 1.2rem;
  margin-bottom: 2px;
  color: #333;
}

.story-header h2 {
  font-size: 0.8rem;
  margin-bottom: 2px;
  color: #666;
}

.story-node {
  margin-bottom: 16px;
  position: relative;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  touch-action: pan-y;
}

.story-node:active {
  cursor: grabbing;
}

button {
  margin-top: 16px;
}

.story-row {
  position: absolute;
  justify-items: center;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  overflow: visible;
}

.story-tree-node {
  cursor: pointer;
  height: auto;
}

.story-tree-node-content {
  touch-action: none;
  width: 100%;
  height: auto;
}

.story-tree-node-text {
  width: 100%;
  max-width: 100%;
  word-break: break-word;
  white-space: pre-wrap;
}

